<div class="col-md-6">

<h1>Smart Shop Complete!</h1>

</br>

<h1>Result: </h1> 

</br>



<% @result.each do |r| %>

<h3><%= Product.find(r.product_id).name %>&nbsp <%= Product.find(r.product_id).label %>&nbsp<%= Product.find(r.product_id).package %>&nbsp <%= Market.find(r.market_id).group %>&nbsp<%= Market.find(r.market_id).address %>&nbsp<%= r.price %></h3>ci sono ancora <%=r.stock%> unità disponibili</br>

<% end %>

<h3>il totale che pagherai è: <%= @sum %></h3>

</br>

<%= link_to "Click here for a new Shop", user_path(current_user) %> 

</div>
